flows.json
[
	{
		"id":"3ede1df2.1f27f2",
		"type":"tab",
		"label":"Life Expectancy",
		"disabled":false,
		"info":""
	},

	{
		"id":"b9540a3.318b5f8",
		"type":"ui_form",
		"z":"3ede1df2.1f27f2",
		"name":"",
		"label":"",
		"group":"aec46c50.97f1c",
		"order":0,
		"width":0,
		"height":0,
		"options":[
			{"label":"Country",
			"value":"Country",
			"type":"text",
			"required":true,
			"rows":null},

			{"label":"Year",
			"value":"Year",
			"type":"number",
			"required":true,
			"rows":null},

			{"label":"Status",
			"value":"Status",
			"type":"text",
			"required":true,
			"rows":null},

			{"label":"BMI",
			"value":"BMI",
			"type":"number",
			"required":true,
			"rows":null},

			{"label":"Adult_Mortality",	
			"value":"Adult_Mortality",
			"type":"number",
			"required":true,
			"rows":null},

			{"label":"Infant_Deaths",
			"value":"Infant_Deaths",
			"type":"number",
			"required":true,
			"rows":null},

			{"label":"Alcohol",
			"value":"Alcohol",
			"type":"number",
			"required":true,
			"rows":null},

			{"label":"Percentage_Expenditure",
			"value":"Percentage_Expenditure",
			"type":"number",
			"required":true,
			"rows":null},

			{"label":"Hepatitis_B",
			"value":"Hepatitis_B",
			"type":"number",
			"required":true,
			"rows":null},

			{"label":"Under_Five_Deaths",
			"value":"Under_Five_Deaths",
			"type":"number",
			"required":true,
			"rows":null},

			{"label":"Polio",
			"value":"Polio",
			"type":"number",
			"required":true,
			"rows":null},

			{"label":"Total_Expenditure",
			"value":"Total_Expenditure",
			"type":"number",
			"required":true,
			"rows":null},

			{"label":"Diphtheria",
			"value":"Diphtheria",
			"type":"number",
			"required":true,
			"rows":null},

			{"label":"HIV/AIDS",
			"value":"HIVAIDS",
			"type":"number",
			"required":true,
			"rows":null},

			{"label":"GDP",
			"value":"GDP",
			"type":"number",
			"required":true,
			"rows":null},

			{"label":"Population",
			"value":"Population",
			"type":"number",
			"required":true,
			"rows":null},

			{"label":"Thinness_10_19_years",
			"value":"Thinness_10_19_years",
			"type":"number",
			"required":true,
			"rows":null},

			{"label":"Thinness_5_9_years",
			"value":"Thinness_5_9_years",
			"type":"number",
			"required":true,
			"rows":null},

			{"label":"Income_Composition_of_Resources",
			"value":"Income_Composition_of_Resources",
			"type":"number",
			"required":true,
			"rows":null},

			{"label":"Schooling",
			"value":"Schooling",
			"type":"number",
			"required":true,
			"rows":null},

			{"label":"Measles",
			"value":"Measles",
			"type":"number",
			"required":true,
			"rows":null}],
		"formValue":{"Country":"","Year":"","Status":"","BMI":"","Adult_Mortality":"",
					"Infant_Deaths":"","Alcohol":"","Percentage_Expenditure":"","Hepatitis_B":"",
					"Under_Five_Deaths":"","Polio":"","Total_Expenditure":"","Diphtheria":"",
					"HIVAIDS":"","GDP":"","Population":"","Thinness_10_19_years":"",
					"Thinness_5_9_years":"","Income_Composition_of_Resources":"","Schooling":"",
					"Measles":""},
		"payload":"",
		"submit":"Predict",
		"cancel":"Reset",
		"topic":"",
		"x":90,
		"y":80,
		"wires":[["d5913867.baf458"]]
	},

	{"id":"d5913867.baf458",
	"type":"function",
	"z":"3ede1df2.1f27f2",
	"name":"PreToken",
	"func":"//make user give values as global variables\nglobal.set(\"Country\",msg.payload.Country);\nglobal.set(\"Year\",msg.payload.Year);\nglobal.set(\"Status\",msg.payload.Status);\nglobal.set(\"BMI\",msg.payload.BMI);\nglobal.set(\"Adult_Mortality\",msg.payload.Adult_Mortality);\nglobal.set(\"Infant_Deaths\",msg.payload.Infant_Deaths);\nglobal.set(\"Alcohol\",msg.payload.Alcohol);\nglobal.set(\"Percentage_Expenditure\",msg.payload.Percentage_Expenditure);\nglobal.set(\"Hepatitis_B\",msg.payload.Hepatitis_B);\nglobal.set(\"Under_Five_Deaths\",msg.payload.Under_Five_Deaths);\nglobal.set(\"Polio\",msg.payload.Polio);\nglobal.set(\"Total_Expenditure\",msg.payload.Total_Expenditure);\nglobal.set(\"Diphtheria\",msg.payload.Diphtheria);\nglobal.set(\"HIVAIDS\",msg.payload.HIVAIDS);\nglobal.set(\"GDP\",msg.payload.GDP);\nglobal.set(\"Population\",msg.payload.Population);\nglobal.set(\"Thinness_10_19_years\",msg.payload.Thinness_10_19_years);\nglobal.set(\"Thinness_5_9_years\",msg.payload.Thinness_5_9_years);\nglobal.set(\"Income_Composition_of_Resources\",msg.payload.Income_Composition_of_Resources);\nglobal.set(\"Schooling\",msg.payload.Schooling);\nglobal.set(\"Measles\",msg.payload.Measles);\n\n//For receiving the token\nvar apikey=\"API key comes here\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;",
	"outputs":1,
	"noerr":0,
	"x":280,
	"y":80,
	"wires":[["50518351.96a96c"]]},

	{"id":"50518351.96a96c",
	"type":"http request",
	"z":"3ede1df2.1f27f2",
	"name":"",
	"method":"POST",
	"ret":"obj",
	"paytoqs":false,
	"url":"https://iam.cloud.ibm.com/identity/token",
	"tls":"",
	"persist":false,
	"proxy":"",
	"authType":"",
	"x":490,
	"y":80,
	"wires":[["dc746923.89cd68"]]},

	{"id":"dc746923.89cd68",
	"type":"function",
	"z":"3ede1df2.1f27f2",
	"name":"sendToEndPoint",
	"func":"var token=msg.payload.access_token;\nvar instance_id=\"End point id\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\n\n//\nvar Country = global.get('Country');\nvar Year = global.get('Year');\nvar Status = global.get('Status');\nvar BMI = global.get('BMI');\nvar Adult_Mortality = global.get('Adult_Mortality');\nvar Infant_Deaths = global.get('Infant_Deaths');\nvar Alcohol = global.get('Alcohol');\nvar Percentage_Expenditure = global.get('Percentage_Expenditure');\nvar Hepatitis_B = global.get('Hepatitis_B');\nvar Under_Five_Deaths = global.get('Under_Five_Deaths');\nvar Polio = global.get('Polio');\nvar Total_Expenditure = global.get('Total_Expenditure');\nvar Diphtheria = global.get('Diphtheria');\nvar HIVAIDS = global.get('HIV/AIDS');\nvar GDP = global.get('GDP');\nvar Population = global.get('Population');\nvar Thinness_10_19_years = global.get('Thinness_10_19_years');\nvar Thinness_5_9_years = global.get('Thinness_5_9_years');\nvar Income_Composition_of_Resources = global.get('Income_Composition_of_Resources');\nvar Schooling = global.get('Schooling');\nvar Measles = global.get('Measles');\n\n//send user values to service endpoints\nmsg.payload={\n    \"fields\":['Country', 'Year', 'Status', 'BMI', 'Adult_Mortality', 'Infant_Deaths',\n       'Alcohol', 'Percentage_Expenditure', 'Hepatitis_B', 'Under_Five_Deaths',\n       'Polio', 'Total_Expenditure', 'Diphtheria', 'HIV/AIDS', 'GDP',\n       'Population', 'Thinness_10_19_years', 'Thinness_5_9_years',\n       'Income_Composition_of_Resources', 'Schooling', 'Measles'],\n       \"values\":[[Country, Year, Status, BMI, Adult_Mortality, Infant_Deaths,\n       Alcohol, Percentage_Expenditure, Hepatitis_B, Under_Five_Deaths,\n       Polio, Total_Expenditure, Diphtheria, HIVAIDS, GDP,\n       Population, Thinness_10_19_years, Thinness_5_9_years,\n       Income_Composition_of_Resources, Schooling, Measles]]\n}\nreturn msg;",
	"outputs":1,	
	"noerr":0,
	"x":720,
	"y":80,
	"wires":[["9fbd786c.f4c448"]]},

	{"id":"9fbd786c.f4c448",
	"type":"http request",
	"z":"3ede1df2.1f27f2",
	"name":"",
	"method":"POST",
	"ret":"obj",
	"paytoqs":false,
	"url":"deployment URL",
	"tls":"",
	"persist":false,
	"proxy":"",
	"authType":"basic",
	"x":130,
	"y":260,
	"wires":[["6fc5d8fd.69e108","9f653359.a46e3"]]},

	{"id":"6fc5d8fd.69e108",
	"type":"function",
	"z":"3ede1df2.1f27f2",
	"name":"getFromEndPoint",
	"func":"//actually getting our predicted values\nmsg.payload=msg.payload.values[0][0];\nreturn msg;",
	"outputs":1,
	"noerr":0,
	"x":450,
	"y":260,
	"wires":[["a8ffb2b0.8a0b3","e19bb7c1.805d58"]]},

	{"id":"a8ffb2b0.8a0b3",
	"type":"ui_text",
	"z":"3ede1df2.1f27f2",
	"group":"aec46c50.97f1c",
	"order":1,
	"width":0,
	"height":0,
	"name":"",
	"label":"Prediction",
	"format":"{{msg.payload}}",
	"layout":"row-spread",
	"x":740,
	"y":260,
	"wires":[]},

	{"id":"9f653359.a46e3",
	"type":"debug",
	"z":"3ede1df2.1f27f2",
	"name":"",
	"active":true,
	"tosidebar":true,
	"console":false,
	"tostatus":false,
	"complete":"payload",
	"targetType":"msg",
	"x":170,
	"y":340,
	"wires":[]},

	{"id":"e19bb7c1.805d58",
	"type":"debug",
	"z":"3ede1df2.1f27f2",
	"name":"",
	"active":true,
	"tosidebar":true,
	"console":false,
	"tostatus":false,
	"complete":"false",
	"x":490,
	"y":340,
	"wires":[]},

	{"id":"aec46c50.97f1c",
	"type":"ui_group",
	"z":"",
	"name":"Life Expectancy",
	"tab":"be3db9b1.9af108",
	"order":1,
	"disp":true,
	"width":"6",
	"collapse":false},

	{"id":"be3db9b1.9af108",
	"type":"ui_tab",
	"z":"",
	"name":"Home",
	"icon":"dashboard",
	"disabled":false,
	"hidden":false}
]